/* Set a background image in the body */
body {
    background-image: url("../images/HomeBackground.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.background-color-opacity {
    background-color: rgba(196, 196, 196, 0.5);
}